@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.TF2 {
	font-family: 'TF2', Helvetica, sans-serif;
}

.TF2Build {
	font-family: 'TF2Build', Helvetica, sans-serif;
}

.TF2Secondary {
	font-family: 'TF2secondary', Helvetica, sans-serif;
}
